<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h4>This is a blog</h4>
    <h1>{{ title }} </h1>
    <h5>{{ date | formatDate }}</h5>
    <h5>by {{ author }}</h5>
    
    <div class="grid">
        <img src="{{ image }}" alt="this is an image">
        {{ content | safe }}
    </div>

    {% include "footer.njk" %}
    
</body>
</html>