---
layout: layout.njk
title: Test page
items: 
    - hey
    - mister
    - polismen
---

<h1>Hey, this is my page</h1>
<ul>
    {% for item in items -%}
    <li>{{ item }}</li>
    {% endfor -%}
</ul>
<a href="/postlist/">Post list</a> 
{% include "_footer.html" %}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>